/* Dylan/Kash
 *
 * /static/sass/styles.scss - Main stylesheet
 *
 * Coded by Dylan Schirino
 * started at 09/12/2016
 */

@import "bourbon"; // Pour importer bourbon


.box{
  background-color: pink;
  padding: 20px;
}
figure {
  img{
    width: 250px;
  }
}
