doctype html
html(lang="fr")
  head
    title kach
    link( rel="stylesheet", href="/css/styles.css")
  body
    h1 kach
    div#app.
      {{ message }}
    figure
      img(src="/assets/cat.jpg", alt="un spendide chat")/
    script(src="/js/app.js")
